# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/dist/
/package-lock.json
src/assets/css/style.css
src/assets/css/style.min.css
src/assets/css/style.min.css.map
src/assets/css/style.min.css.rej
src/assets/js/script.js
src/assets/js/script.min.js
src/assets/js/script.min.js.map
*.map
src/assets/css/style.min.css
src/assets/css/style.min.css.map
src/assets/css/style.min.css
