@media (max-width: 767px) {
  .c-exp-views {
    margin-bottom: 60px; } }
.c-exp-views .o-container {
  position: relative; }
  @media (max-width: 767px) {
    .c-exp-views .o-container {
      padding: 0; } }
.c-exp-views .sec-heading {
  display: flex;
  font-size: 25px;
  line-height: 1em;
  width: 100%;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: -11px;
  position: relative;
  z-index: 5; }
  @media (max-width: 767px) {
    .c-exp-views .sec-heading {
      font-size: 20px;
      margin-bottom: 30px; }
      .c-exp-views .sec-heading span {
        display: block;
        width: 100%;
        text-align: center; } }
  .c-exp-views .sec-heading i {
    height: 1px;
    background: #d0d0d0;
    width: 100%;
    margin-left: 20px; }
    @media (max-width: 767px) {
      .c-exp-views .sec-heading i {
        display: none; } }
.c-exp-views .carousel-thumb {
  position: absolute;
  bottom: -6px;
  left: 15px;
  max-width: 900px;
  height: 113px; }
  @media (max-width: 1600px) {
    .c-exp-views .carousel-thumb {
      bottom: -18px; } }
  @media (max-width: 1580px) {
    .c-exp-views .carousel-thumb {
      left: 5.4217vw; } }
  @media (max-width: 1023px) {
    .c-exp-views .carousel-thumb {
      bottom: -28px; } }
  @media (max-width: 767px) {
    .c-exp-views .carousel-thumb {
      left: 15px; } }
  @media (max-width: 767px) {
    .c-exp-views .carousel-thumb {
      left: 0;
      position: static;
      width: 120px;
      height: 67px;
      margin: 0 auto; } }
  .c-exp-views .carousel-thumb .item {
    padding: 5px 1px;
    transition: all .35s;
    cursor: pointer; }
    .c-exp-views .carousel-thumb .item .img-wrap {
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
      padding: 25px;
      width: 180px;
      height: 100px;
      max-width: 100%;
      position: relative;
      overflow: hidden;
      transition: all .35s; }
      @media (max-width: 1600px) {
        .c-exp-views .carousel-thumb .item .img-wrap {
          padding: 15px;
          width: 170px;
          height: 90px; } }
      @media (max-width: 1023px) {
        .c-exp-views .carousel-thumb .item .img-wrap {
          width: 130px;
          height: 80px; } }
      @media (max-width: 767px) {
        .c-exp-views .carousel-thumb .item .img-wrap {
          width: 117px;
          height: 60px;
          background: #7f7f7f; } }
      .c-exp-views .carousel-thumb .item .img-wrap img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 80%; }
  @media (max-width: 767px) {
    .c-exp-views .carousel-thumb .slick-list {
      overflow: visible; } }
  .c-exp-views .carousel-thumb .slick-slide {
    transition: all .35s; }
    .c-exp-views .carousel-thumb .slick-slide:hover .item, .c-exp-views .carousel-thumb .slick-slide.slick-current .item {
      padding-top: 0px;
      padding-bottom: 0; }
    .c-exp-views .carousel-thumb .slick-slide:hover .img-wrap, .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
      height: 110px; }
      @media (max-width: 1600px) {
        .c-exp-views .carousel-thumb .slick-slide:hover .img-wrap, .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
          height: 100px; } }
      @media (max-width: 1023px) {
        .c-exp-views .carousel-thumb .slick-slide:hover .img-wrap, .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
          height: 90px; } }
      @media (max-width: 767px) {
        .c-exp-views .carousel-thumb .slick-slide:hover .img-wrap, .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
          height: 67px; } }
    .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
      background: rgba(0, 0, 0, 0.2); }
      @media (max-width: 767px) {
        .c-exp-views .carousel-thumb .slick-slide.slick-current .img-wrap {
          background: #333333; } }
.c-exp-views .carousel .item {
  min-height: 525px;
  display: flex !important;
  align-items: center;
  padding: 50px 50px 150px;
  position: relative; }
  @media (max-width: 1600px) {
    .c-exp-views .carousel .item {
      padding: 40px 50px 130px;
      min-height: 450px; } }
  @media (max-width: 1023px) {
    .c-exp-views .carousel .item {
      padding: 25px 30px 100px;
      min-height: 360px; } }
  @media (max-width: 767px) {
    .c-exp-views .carousel .item {
      padding: 0px 0px 25px;
      flex-direction: column; } }
.c-exp-views .carousel .img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  @media (max-width: 767px) {
    .c-exp-views .carousel .img {
      position: relative;
      order: -1;
      height: auto; } }
  .c-exp-views .carousel .img:after, .c-exp-views .carousel .img:before {
    content: "";
    display: block;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 42%;
    background: linear-gradient(90deg, #fff 0, #fff 5%, rgba(255, 255, 255, 0));
    z-index: 1; }
    @media (max-width: 1600px) {
      .c-exp-views .carousel .img:after, .c-exp-views .carousel .img:before {
        left: 48%; } }
    @media (max-width: 1023px) {
      .c-exp-views .carousel .img:after, .c-exp-views .carousel .img:before {
        left: 55%; } }
    @media (max-width: 767px) {
      .c-exp-views .carousel .img:after, .c-exp-views .carousel .img:before {
        display: none; } }
  .c-exp-views .carousel .img:after {
    width: 42%;
    left: 0%;
    background: #fff;
    z-index: 1; }
    @media (max-width: 1600px) {
      .c-exp-views .carousel .img:after {
        width: 48%; } }
    @media (max-width: 1023px) {
      .c-exp-views .carousel .img:after {
        width: 55%; } }
  .c-exp-views .carousel .img img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 0; }
    @media (max-width: 1023px) and (min-width: 768px) {
      .c-exp-views .carousel .img img {
        transform: translateX(20%); } }
    @media (max-width: 767px) {
      .c-exp-views .carousel .img img {
        height: auto; } }
.c-exp-views .carousel .txt {
  position: relative;
  z-index: 5;
  max-width: 530px; }
  @media (max-width: 1023px) {
    .c-exp-views .carousel .txt {
      max-width: 420px; } }
  @media (max-width: 767px) {
    .c-exp-views .carousel .txt {
      text-align: center;
      padding: 20px 20px 0;
      min-height: 220px; } }
  .c-exp-views .carousel .txt h2 {
    font-size: 55px;
    line-height: 1em;
    color: #000000;
    font-weight: bold;
    margin: 0 0 22px 0; }
    @media (max-width: 1600px) {
      .c-exp-views .carousel .txt h2 {
        font-size: 50px; } }
    @media (max-width: 1400px) {
      .c-exp-views .carousel .txt h2 {
        font-size: 40px; } }
    @media (max-width: 1023px) {
      .c-exp-views .carousel .txt h2 {
        font-size: 35px;
        margin-bottom: 15px; } }
    @media (max-width: 767px) {
      .c-exp-views .carousel .txt h2 {
        font-size: 30px;
        margin-bottom: 10px; } }
  .c-exp-views .carousel .txt p {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 30px; }
    @media (max-width: 1023px) {
      .c-exp-views .carousel .txt p {
        font-size: 15px;
        line-height: 1.4em;
        margin-bottom: 20px; } }
