.c-movie-filters {
  margin: 60px auto 40px; }
  @media (max-width: 1600px) {
    .c-movie-filters {
      margin: 50px auto 30px; } }
  .c-movie-filters .close-btn-m {
    display: none; }
  .c-movie-filters .wrap {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
    .c-movie-filters .wrap > * {
      margin-right: 20px;
      width: 100%; }
      .c-movie-filters .wrap > *:last-child {
        margin-right: 0;
        width: 250px; }
    @media (max-width: 1600px) {
      .c-movie-filters .wrap {
        padding-top: 35px;
        padding-bottom: 35px; } }
    @media (max-width: 1023px) {
      .c-movie-filters .wrap {
        flex-wrap: wrap; }
        .c-movie-filters .wrap > * {
          width: 50%;
          margin-right: 0;
          padding-right: 10px;
          margin-bottom: 10px; }
          .c-movie-filters .wrap > *:nth-child(2n) {
            padding-right: 0;
            padding-left: 0; }
          .c-movie-filters .wrap > *:nth-child(3), .c-movie-filters .wrap > *:nth-child(4) {
            margin-bottom: 0; }
          .c-movie-filters .wrap > *:last-child {
            width: 50%; }
            .c-movie-filters .wrap > *:last-child .c-btn-glow {
              width: 100%; } }
  .c-movie-filters .c-select-box {
    margin-right: 40px;
    width: 100%; }
    @media (max-width: 1600px) {
      .c-movie-filters .c-select-box {
        margin-right: 30px; } }
    @media (max-width: 1400px) {
      .c-movie-filters .c-select-box {
        margin-right: 20px; } }
    @media (max-width: 1023px) {
      .c-movie-filters .c-select-box {
        margin-right: 12px; } }
  .c-movie-filters .c-btn-glow {
    white-space: nowrap;
    display: block;
    padding: 20px 30px;
    width: 250px; }
    @media (max-width: 1600px) {
      .c-movie-filters .c-btn-glow {
        padding-top: 16px;
        padding-bottom: 16px; } }
    @media (max-width: 1023px) {
      .c-movie-filters .c-btn-glow {
        padding-right: 15px;
        padding-left: 15px; } }
  @media (max-width: 767px) {
    .c-movie-filters {
      position: fixed;
      left: 0;
      width: 100%;
      z-index: 99;
      background: #fff;
      margin: 0;
      transition: all .35s;
      z-index: 1001;
      top: 100vh;
      bottom: auto;
      transition: all .35s;
      transform: translateY(-68px);
      height: 100vh; }
      .c-movie-filters .close-btn-m {
        display: block;
        background: #6e3996;
        color: #fff;
        font-size: 14px;
        line-height: 1em;
        padding: 19px 10px;
        text-align: center;
        text-transform: uppercase;
        top: auto;
        bottom: 0;
        position: absolute;
        left: 0;
        transform: translateY(0%);
        height: auto;
        width: 100%; }
      .c-movie-filters .o-container {
        padding: 0;
        border-top: 1px solid #bfbfbf;
        border-bottom: 1px solid #bfbfbf; }
      .c-movie-filters .wrap {
        background: #d9d9d9;
        flex-wrap: nowrap;
        padding: 0;
        border: 0; }
        .c-movie-filters .wrap > * {
          border-right: 1px solid #bfbfbf;
          white-space: nowrap;
          width: 25% !important;
          padding: 0;
          margin: 0;
          text-align: center; }
          .c-movie-filters .wrap > *:last-child {
            border-right: none; }
      .c-movie-filters .c-btn-glow {
        border-radius: 0;
        width: auto;
        height: 100%;
        box-shadow: none; }
        .c-movie-filters .c-btn-glow:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../img/icons/icon-search.svg) no-repeat center center/29px auto;
          z-index: 1;
          font-size: 9px;
          line-height: 103px; }
        .c-movie-filters .c-btn-glow span {
          display: none; }
      .c-movie-filters .c-select-box.is--active-m .field-dropdown, .c-movie-filters .c-select-box.is--active .field-dropdown {
        display: block;
        box-shadow: none; }
      .c-movie-filters .c-select-box.is--active-m .field .field-title, .c-movie-filters .c-select-box.is--active .field .field-title {
        color: #6e3996; }
      .c-movie-filters .c-select-box.is--active-m .field .icon, .c-movie-filters .c-select-box.is--active .field .icon {
        background-image: url("../img/icons/icon-movies.svg"); }
        .c-movie-filters .c-select-box.is--active-m .field .icon.icon--location, .c-movie-filters .c-select-box.is--active .field .icon.icon--location {
          background-image: url("../img/icons/icon-location.svg"); }
        .c-movie-filters .c-select-box.is--active-m .field .icon.icon--exp, .c-movie-filters .c-select-box.is--active .field .icon.icon--exp {
          background-image: url("../img/icons/icon-experience.svg"); }
      .c-movie-filters .c-select-box.is--active-m .field input, .c-movie-filters .c-select-box.is--active .field input {
        display: block; }
      .c-movie-filters .c-select-box .field-dropdown {
        box-shadow: none;
        width: 100%;
        position: fixed;
        top: 68px;
        height: calc(100vh - 118px);
        display: none;
        left: 0;
        border-radius: 0;
        background: #fff;
        padding-bottom: 0; }
        .c-movie-filters .c-select-box .field-dropdown .scroll {
          max-height: 100%; }
        .c-movie-filters .c-select-box .field-dropdown .item.custom-action label {
          background: #fff;
          color: #626262;
          border-bottom: 1px solid #bfbfbf;
          border-top: 1px solid #bfbfbf;
          margin-top: 50px; }
          .c-movie-filters .c-select-box .field-dropdown .item.custom-action label:hover {
            background: #fff; }
        .c-movie-filters .c-select-box .field-dropdown .item.custom-action input:checked + label:hover, .c-movie-filters .c-select-box .field-dropdown .item.custom-action input:checked + label {
          background: #bfbfbf; }
        .c-movie-filters .c-select-box .field-dropdown .item label {
          text-align: left;
          padding-top: 15px;
          padding-bottom: 15px; }
        .c-movie-filters .c-select-box .field-dropdown .item label {
          background: #fff; }
      .c-movie-filters .c-select-box .field {
        padding: 12px;
        cursor: pointer; }
        .c-movie-filters .c-select-box .field input {
          display: none;
          position: fixed;
          top: 76px;
          left: 10px;
          border-radius: 999px !important;
          box-shadow: none !important;
          width: calc(100% - 20px);
          z-index: 979;
          font-size: 12px;
          line-height: 1em;
          padding: 10px 20px; }
        .c-movie-filters .c-select-box .field .field-title {
          font-size: 11px;
          line-height: 1em;
          text-transform: uppercase; }
        .c-movie-filters .c-select-box .field .icon {
          position: static;
          display: block;
          width: 100%;
          height: 26px;
          background-image: url("../img/icons/icon-movies--black.svg");
          background-size: auto 26px;
          margin-bottom: 5px; }
          .c-movie-filters .c-select-box .field .icon.icon--location {
            background-image: url("../img/icons/icon-location--black.svg"); }
          .c-movie-filters .c-select-box .field .icon.icon--exp {
            background-image: url("../img/icons/icon-experience--black.svg"); }
        .c-movie-filters .c-select-box .field .field-title {
          display: block; } }

@media (max-width: 767px) {
  .filter-open {
    overflow: hidden; }
    .filter-open .c-movie-filters {
      top: 0;
      transform: translateY(0%); } }

@media (max-width: 767px) {
  .filter-space {
    height: 70px; } }

.c-select-box {
  position: relative; }
  .c-select-box .field-title {
    display: none; }
  .c-select-box.is--active .field input {
    border-radius: 20px 20px 0 0;
    box-shadow: 2px 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .c-select-box.is--active .field-dropdown {
    display: block;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.4); }
  .c-select-box .field {
    position: relative; }
    .c-select-box .field input {
      font-size: 18px;
      line-height: 40px;
      background: #d9d9d9;
      border-radius: 20px;
      padding: 10px 30px 10px 80px;
      display: block;
      box-shadow: none;
      border: 0;
      width: 100%;
      outline: none; }
      @media (max-width: 1600px) {
        .c-select-box .field input {
          font-size: 16px;
          line-height: 30px; } }
      @media (max-width: 1400px) {
        .c-select-box .field input {
          padding-left: 60px; } }
    .c-select-box .field .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      background: url("../img/icons/icon-movies.svg") no-repeat center center/36px auto;
      height: 100%; }
      @media (max-width: 1600px) {
        .c-select-box .field .icon {
          background-size: 27px auto; } }
      @media (max-width: 1400px) {
        .c-select-box .field .icon {
          width: 60px; } }
      .c-select-box .field .icon.icon--location {
        background-image: url("../img/icons/icon-location.svg"); }
      .c-select-box .field .icon.icon--exp {
        background-image: url("../img/icons/icon-experience.svg"); }
  .c-select-box .field-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    height: auto;
    width: 100%;
    background: #d9d9d9;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
    padding-bottom: 24px;
    z-index: 99; }
    .c-select-box .field-dropdown .scroll {
      overflow-y: auto;
      max-height: 420px; }
    .c-select-box .field-dropdown .item {
      position: relative;
      padding-bottom: 2px; }
      .c-select-box .field-dropdown .item:last-child {
        padding-bottom: 0; }
      .c-select-box .field-dropdown .item.custom-action label {
        background: #c5c5c5;
        color: #626262; }
        .c-select-box .field-dropdown .item.custom-action label .selected {
          display: none; }
        .c-select-box .field-dropdown .item.custom-action label .not-selected {
          display: block; }
        .c-select-box .field-dropdown .item.custom-action label:before {
          opacity: 1;
          background-image: url("../img/icons/icon-check--grey.svg"); }
        .c-select-box .field-dropdown .item.custom-action label:hover {
          background: #b5b5b5; }
      .c-select-box .field-dropdown .item.custom-action input:checked + label {
        background: #c5c5c5;
        color: #626262; }
        .c-select-box .field-dropdown .item.custom-action input:checked + label .selected {
          display: block; }
        .c-select-box .field-dropdown .item.custom-action input:checked + label .not-selected {
          display: none; }
        .c-select-box .field-dropdown .item.custom-action input:checked + label:before {
          background-image: url("../img/icons/icon-cross.svg");
          background-size: 12px auto; }
      .c-select-box .field-dropdown .item input {
        opacity: 0;
        position: absolute; }
      .c-select-box .field-dropdown .item label {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 0.9em;
        color: #000;
        padding: 15px 20px 15px 43px;
        transition: all .35s;
        background: #d9d9d9; }
        @media (max-width: 1600px) {
          .c-select-box .field-dropdown .item label {
            font-size: 15px;
            padding-top: 12px;
            padding-bottom: 12px; } }
        .c-select-box .field-dropdown .item label:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 43px;
          background: url(../img/icons/icon-check.svg) no-repeat 16px/17px auto;
          opacity: 0;
          transition: all .35s; }
        .c-select-box .field-dropdown .item label:hover {
          background: #cfb4d7; }
      .c-select-box .field-dropdown .item input:checked + label {
        background: #6e3996;
        color: #fff; }
        .c-select-box .field-dropdown .item input:checked + label:before {
          opacity: 1; }
