.c-banner-1{
	position: relative;
	display: flex;
	align-items: center;
	padding-bottom: 63px;

	&, .bgimg-sec .item{
		@extend .height-cover;
	}

	&.banner-1--a{
		padding-bottom: 0;
		.txt-sec .carousel{
			max-width: 750px;
		}

		&.banner-1a--z{
			.txt-wrap{
				margin-bottom: 30px;
			}
		}
	}

	.carousel-txt-controls{
		position: relative;
		padding-top: 30px;

		&:before{
			content: '';
			display: block;
			height: 1px;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%);
			opacity: 0.2;
		}

		li{
			display: inline-block;
			& + li{
				padding-left: 60px;
				position: relative;

				&:before{
					content: '';
					display: block;
					border-radius: 999px;
					background: #fff;
					opacity: 0.5;
					width: 10px;
					height: 10px;
					margin-top: -5px;
					position: absolute;
					top: 50%;
					left: 25px;
				}
			}

			&.is--active{
				a{
					opacity: 1;
					border-bottom-color: #fff;
				}
			}
		}

		a{
			font-size: 20px;
			color: #fff;
			line-height: 1em;
			opacity: 0.5;
			border-bottom: 1px solid transparent;
			transition: all .35s;
		}
	}

	.bgimg-sec{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		
		.item{
			background: #000 no-repeat center center;
			background-size: cover;
		}
	}
	.txt-sec{
		color: #fff;
		z-index: 2;
		position: relative;
		left: 50vw;
		transform: translateX(-740px);

		@media (max-width: 1660px){
			transform: translateX(0);
			left: 7.4217vw;
		}

		@media (max-width: 767px){
			left: 15px;
			padding-left: 17px;
		}


		.item{
			padding-right: 50px;
		}

		.carousel{
			max-width: 550px
		}
	}

	.slick-dots{
		li{
			display: inline-block;
			+ li{
				margin-left: 10px;
			}
		}
		button{
			display: block;
			width: 13px;
			height: 13px;
			font-size: 0;
			color: transparent;
			box-shadow: none;
			border-radius: 999px;
			border: 1px solid #fff;
			background: transparent;
			transition: background .35s;
			cursor: pointer;
			padding: 0;
		}

		.slick-active{
			button{
				background: #fff;
			}
		}
	}

	.txt-wrap{
		margin-bottom: 60px;
	}

	.logos{
		margin-bottom: 10px;
		img{
			display: inline-block;
			vertical-align: middle;

			+ img{
				margin-left: 25px;
			}
		}
	}
	h1{
		font-size: 60px;
		line-height: 1em;
		margin: 0 0 10px 0;
		font-weight: bold;
	}
	h2{
		font-size: 30px;
		line-height: 1.1em;
		margin: 0 0 15px 0;
	}

	&.banner--1a{
		padding-bottom: 0;

		.txt-sec{
			left: 0;
			transform: none;
			padding: 0;
			.item{
				padding-right: 0;
			}
		}

		.txt-wrap{
			margin-bottom: 0;
		}
	}
	
	@extend .slick-arrows-1;

	.slick-arrow{
		background-image: url(../img/icons/arrow-left--white.svg);
		&.slick-next{
			background-image: url(../img/icons/arrow-right--white.svg);
		}
	}
}

@media screen and (max-height: 700px), screen and (max-width: 1600px){
	.c-banner-1 .txt-wrap{
		margin-bottom: 40px;
	}
	.c-banner-1 h1{
		font-size: 55px;
	}
	.c-banner-1 h2{
		font-size: 28px;
	}	
}
@media screen and (max-height: 660px), screen and (max-width: 1400px){
	.c-banner-1 h1{
		font-size: 45px;
	}
	.c-banner-1 h2{
		font-size: 26px;
	}
	.c-banner-1 .txt-wrap{
		margin-bottom: 20px;
	}
}
@media (max-width: 1200px){
	.c-banner-1.banner-1--a .txt-sec .carousel {
	    max-width: 700px;
	}
}
@media (max-width: 920px){
	.c-banner-1.banner-1--a .txt-sec .carousel {
	    max-width: 600px;
	}
}
@media (max-width: 600px){
	.c-banner-1 h1{
		font-size: 40px;
		line-height: 1em;
	}
	.c-banner-1 h2{
		font-size: 24px;
	}
	.c-banner-1 .txt-wrap{
		margin-bottom: 15px;
	}
}

@media (max-width: 767px){
	.c-banner-1 .carousel-txt-controls li{
		display: block;
	}
	.c-banner-1 .carousel-txt-controls li+li{
		padding-left: 0;
		margin-top: 10px;
		&:before{
			display: none;
		}
	}
	.c-banner-1 .carousel-txt-controls a{
		font-size: 16px;
	}
	.c-banner-1.banner-1--a.banner-1a--z .txt-wrap{
		margin-bottom: 20px;
	}
	.c-banner-1 .carousel-txt-controls{
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.c-banner-1 h1{
		font-size: 32px;
	}
	.c-banner-1 h2{
		font-size: 24px;
	}
	.c-banner-1.banner--1a{
		padding-bottom: 20px;
		display: flex;
		align-items: flex-end;
	}
	.c-banner-1 .bgimg-sec .item{
	    background-position: top center;
	}
	.c-banner-1{
		align-items: flex-end;
	}
	.c-banner-1 .txt-sec {
	    width: 100%;
	    padding: 0 15px;
	    left: 0;
	}
	.c-banner-1 .slick-arrow{
		display: none !important;
	}

	@media (max-height: 580px){
		.c-banner-1{
			padding-bottom: 40px;
		}
		.c-banner-1 h1{
		    font-size: 28px;
		    line-height: 0.9em;
		}
	}
}

.c-banner-2{
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    @extend .height-cover;

	.img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background: #000 no-repeat center center;
		background-size: cover;
	}
	.txt-wrap{
		color: #fff;
		text-align: center;

		h1{
			@extend .heading-sty-3;
			max-width: 720px;
		}

		p{
			max-width: 575px;
			margin-right: auto;
			margin-left: auto;
		}
	}
	.action{
		margin-top: 45px;
	}
}