*, *:after, *:before{
	box-sizing: border-box;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(../img/movie-posters/movies-list-overlay.png) url(../img/movie-posters/movie-cover-overlay.png);
}
html,
body{
	font-family: $fontenglish;
	min-height: 100%;
	width: 100%;
	font-size: 14px;
	color: $black;
	overflow-x: hidden;
	width: 100%;
	// margin-top: 0 !important;

	.langOther {
		font-family: $fontarabic;
	}
}

html{
	// background: #191919 url("../img/misc/grain-dark.jpg") repeat left top;
}

body{
	// background: #fff;
	min-height: 100vh;
	overflow: hidden;
	font-size: 16px;
	background-size: 100% auto;
}

img{
	max-width: 100%;
	display: block;
}

picture{
	display: block;
}

a{
	cursor: pointer;
	text-decoration: none !important;
	outline: none !important;
	color: #6e3996;
	transition: all .35s;
}

.c-list-1 .movie-details .item-details .right,
ul, p{
	font-size: 15px;
	line-height: 1.5em;
}
ul, p{
	margin: 0 0 20px 0;
	
	@media (max-width: 767px){
		margin-bottom: 15px;
	}
}

ul{
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}
input{
	max-width: 100%;
	outline: 0;
    -webkit-appearance: none;
}
input::-ms-clear {
    display: none;
}
label{
	cursor: pointer;
}

.u-pos-s{ position: static; }

.u-pos-r{ position: relative; }

.pl{
	&-20{
		padding-left: 20px;
	}
	&-25{
		padding-left: 25px;
	}
	&-40{
		padding-left: 40px;
	}
	&-50{
		padding-left: 50px;
	}
}

.pr{
	&-20{
		padding-right: 20px;
	}
	&-25{
		padding-right: 25px;
	}
	&-40{
		padding-right: 40px;
	}
	&-50{
		padding-right: 50px;
	}
}

.ml{
	&-20{
		margin-left: 20px;
	}
	&-25{
		margin-left: 25px;
	}
	&-40{
		margin-left: 40px;
	}
	&-50{
		margin-left: 50px;
	}
}

.mr{
	&-20{
		margin-right: 20px;
	}
	&-25{
		margin-right: 25px;
	}
	&-40{
		margin-right: 40px;
	}
	&-50{
		margin-right: 50px;
	}
}

.c-row{
	display: flex;
  	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

@for $i from 1 through 100 {
	.c-col-#{$i} {
	  width: percentage($i / 100);
	  padding-left: 15px;
	  padding-right: 15px;
	}
}

@media #{$vpdesktop}{
	@for $i from 1 through 100 {
		.c-col-md-#{$i} {
		  	width: percentage($i / 100);
	  		padding-left: 15px;
	  		padding-right: 15px;
		}
	}
}
@media (max-width: 991px){
	@for $i from 1 through 100 {
		.c-col-sm-#{$i} {
		  	width: percentage($i / 100);
	  		padding-left: 15px;
	  		padding-right: 15px;
		}
	}
}
@media (max-width: 767px){
	@for $i from 1 through 100 {
		.c-col-xs-#{$i} {
			width: percentage($i / 100);
			padding-left: 15px;
	  		padding-right: 15px;
		}
	}
}

.toSvg{
	width: 100%;
	height: 100%;
	&.svgPrimary{
		polygon,
		path{
			fill: $primary !important;
			stroke: none !important;
		}
	}
	&.svgSecondary{
		polygon,
		path{
			fill: $secondary !important;
			stroke: none !important;
		}
	}
	&.svgWhite{
		polygon,
		path{
			fill:$white !important;
			stroke: none !important;
		}
	}
	&.svgBlack{
		polygon,
		path{
			fill: $black !important;
			stroke: none !important;
		}
	}
}
@media (min-width: 1025px){
	.c-btn-glow:hover{transition: 1s;}
}
.c-btn-white,
.c-btn-glow{
	//min-width:200px;
	display: inline-block;
	padding: 16px 25px;
	border-radius: 999px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px; 
	line-height: 1em;
	overflow: hidden;
	position: relative; 
	transition: 1s;

	@media (max-width: 1800px){ 
		font-size: 18px; 
		padding: 15px 30px;
	}
	@media (max-width: 1023px){ 
	    font-size: 16px;
    	padding: 14px 24px;
	}
	@media (max-width: 767px){ 
		font-size: 14px;
	}

	&.btn--sm{
		font-size: 16px;
		padding: 15px 30px;
		@media (max-width: 767px){
			font-size: 14px;
			padding: 12px 25px;
		}
		@media (max-width: 360px){
			font-size: 13px;
			line-height: 14px;
		}
	}
}

.c-btn-outline{ 
	display: inline-block;
	padding: 17px 30px;
	border-radius: 17px; 
	text-align: center; 
	color: #9e9e9e;
	text-transform: uppercase;
	font-size: 17px; 
	line-height: 1em; 
	position: relative; 
	border: 1px solid #909090;
	position: relative;
	overflow: hidden;

	&:after{
		content: " ";
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 22px; 
		left: 0;
		top: 0;
		z-index: -1;
		transition: all 0.5s ease;
		display: none;	
	}
	@media (min-width: 1025px){
		&:hover{
		    background: #6e3896;
		    color: #fff;
		    border-color: #6e3896;
		    
			&:after{ 
				transition: all 0.5s ease;
				width: 110%;
				height: 130%;
				left: -5%;
				top: -15%;
				opacity: 0;
				border: 3px solid #909090;
			}
		}
}

	@media (max-width: 1800px){ 
		font-size: 18px; 
		padding: 15px 30px;
	}
	@media (max-width: 1023px){ 
	    font-size: 16px;
    	padding: 14px 24px;
	}

	&.btn--sm{
		font-size: 14px;
		padding: 15px 30px 14px;
		@media (max-width: 767px){
			font-size: 13px;
			padding: 12px 25px;
		}
	}
}
.c-btn-glow{
	background: #552879;
	background: linear-gradient(135deg, #552879 0%,#311758 25%,#170a3f 100%);
	transition: none;
	overflow: hidden;
	position: relative;
	/*transform: translateZ(0);*/

	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, #d8aff6 0%,#6d217f 50%,#22063c 100%) center 100% / 100% 150%;
		opacity: 0;
		transition: all .35s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
		mix-blend-mode: color-dodge;
		z-index: 1;
        border-radius: 999px;
        overflow: hidden;
	}

	span{
		position: relative;
		z-index: 2;
	}
	@media (min-width: 1025px){
		&:hover{
			&:after{
				opacity: 0.5;
			}
		}
		&:active{
			/* box-shadow: 2.5px p0x 5px 0px rgba(0, 0, 0, 0.3), inset 0px -4px 9px 1px rgba(226, 190, 255, 0.15);
			background: #521766; */
			&:hover{
				&:after{
					background: #170a3f;
					/* display: none;
					transition: none; */
				}
			}
		}
	}
	
	@media (max-width: 767px){
		@media (min-width: 1025px){
			&:hover{
				&.sty--a{
					color: #000;
					border: 1px solid #000;

					&:after{
						display: none;
					}
				}
			}
		}

		&.btn--m-change-to-green{
			background: #000;
			background: linear-gradient(to right, #529297 0%,#0a676f 30%,#203250 100%) no-repeat center center / 100% 100%;
			box-shadow: none;
			&:active{
				background: #164a5f;
			}
		}
	}

	&.sty--a{
		background: rgba(255,255,255,0);
		color: #000;
		border: 1px solid #000;
		transition: all .35s;
		transform: translateZ(0);

		&:after{
			background: linear-gradient(135deg, #552879 0%,#311758 25%,#170a3f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			-webkit-mix-blend-mode: unset;
			mix-blend-mode: unset;
			transform: translateZ(0);
		}
		@media (min-width: 1025px){
			&:hover{
				html:not(.is--mobile) &{
					color: #fff;
					background: rgba(255,255,255,0);
					border-color: #552879;
					border-color: transparent;

					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
}

.c-btn-white{
	background: rgba(255,255,255,0.15);
	box-shadow: 2.457px 1.721px 5px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;

	@media (min-width: 1025px){
		&:hover{
			background: rgba(255,255,255,0.3);
		}
	}

	&:active{
		background: rgba(255,255,255,0.1);
		transition: none;
		@media (min-width: 1025px){
			&:hover{
				transition: none;
			}
		}
	}

	&.btn--txt-black{
		color: #222222;
		background: rgba(255,255,255,0.3);
		@media (min-width: 1025px){
			&:hover{
				background: rgba(255,255,255,0.5);
			}
		}
		&.btn--play{
			&:before{
				background-image: url(../img/icons/play-black.svg);
			}
		}
	}
	
	&.btn--play-1{
		background: rgba(248,249,249,0.60);
		color: #222222;
		box-shadow: none;
		width: auto;
		min-width: 0;
		padding: 16px 25px 13px;
		transition: all .35s;
		width: 50px;
		white-space: nowrap;

		.icon{
			display: inline-block;
			width: 19px;
			height: 22px;
			background: url(../img/icons/play.png) no-repeat center center;  
			padding-left: 0;
			transition: all .35s;
			margin: -1px -13px -1px -10px;

			@media (max-width: 1023px){
				margin: 0px -14px -2px -10px;
			}
			@media (max-width: 767px){
				margin: -1px -14px -3px -10px;
			}
		}

		span{
			overflow: hidden;
			width: 0;
			transition: width .35s;
			display: inline-block;
			white-space: nowrap;
		}
		@media (min-width: 1025px){	
			&:hover{
				background: rgba(248,249,249,0.86);

				@media (min-width: 1025px){
					span{
						width: 125px;
						+ .icon{
							margin-left: 15px;
							margin-right: 0px;
						}
					}
					.icon{
						margin-right: 15px;
					}
				}
			}
		}
		@media (max-width: 1800px){
			width: 48px;
			padding: 14px 21px 11px;
			height: 48px;
		}
		@media (max-width: 1023px){
			width: 44px;
			padding: 12px 21px 10px;
			height: 44px;
		}

		&.btn-play--prom{
			background: #fff;

			@media (min-width: 1025px){
				&:hover{
					background: #fff;
				}
			}
		}
	}

	&.btn--play{
		// play.svg
		&:before{
			content: '';
			display: inline-block;
			width: 22px;
			height: 27px;
			background: url(../img/icons/play.svg) no-repeat 50%/100% auto;
			padding-left: 0;
			margin-right: 15px;
			margin-bottom: -6px;
			margin-top: -6px;
		}
		
		&.btn--sm{
			@media (max-width: 767px){
				&:before{
					width: 16px;
					height: 19px;
					margin-top: -5px;
					margin-right: 8px;
				}
			}
		}
	}

	&.sty--a{
		border: 1px solid #fff;
		background: transparent;
		@media (min-width: 1025px){
			&:hover{
				background: #fff;
				color: #000;
			}
		}
	}
}
.play-trailor{
	width: 50px;  
	height: 50px;
	display: inline-block;
	background: rgba(255,255,255,0.6); 
	box-shadow: 2.457px 1.721px 5px 0px rgba(0, 0, 0, 0.1);
	padding: 15px; 
	border-radius: 999px;
	text-align: center;
	color: #fff; 
	overflow: hidden;
	position: relative;
	&:before{
			content: '';
			display: inline-block; 
			width: 19px;
			height: 22px;
			background: url(../img/icons/play.png) no-repeat center center;  
			padding-left: 0; 
			margin-left:3px; 
		}
	@media (min-width: 1025px){
		&:hover{
			background: rgba(255,255,255,0.3);
		}

		&:active{
			background: rgba(255,255,255,0.1);
			transition: none;
			&:hover{
				transition: none;
			}
		}
	}
}
.is-tab{
	height: 0;
	//overflow:visible;
	//position: relative; 
	overflow: hidden;
	
	&.is--active{
		height: auto;
		overflow: visible;
	}
	@media (max-width: 767px){
		/* overflow: hidden; */
	}
}


.c-social{
	@media (max-width: 1200px){
		text-align: center;
	}
	li{
		display: inline-block;
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}

		a{
			border-radius: 999px;
			display: block;
			width: 36px;
			height: 36px;
			margin:  0 auto;
			svg  { 
  				fill: #FFF;
				stroke: none !important;
				@media (min-width: 1025px){
					&:hover{
						fill: #6e3996 !important;
					}
				}
			}
			.fb {
			transition: all .20s ease-in-out;
				@media (min-width: 1025px){
					&:hover {
						fill:#4668ae;
					}
				}
			}
			.insta {
			transition: all .20s ease-in-out;
				@media (min-width: 1025px){
					&:hover {
						fill:#fe2c75;
					}
				}
			}
			.snap {
			transition: all .20s ease-in-out;
				@media (min-width: 1025px){
					&:hover {
						fill:#fffc00;
					}
				}
			}
			.twitter {
			transition: all .20s ease-in-out;
				@media (min-width: 1025px){
					&:hover {
						fill:#00acee;
					}
				}
			}
			.youtube {
			transition: all .20s ease-in-out;
				@media (min-width: 1025px){
					&:hover {
						fill:#ff0000;
					}
				}
			}
		}
	}
}

.c-loader{
	background: #fff;
	opacity: 1;
	position: fixed;
	z-index: 9999;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.is--loading{
	position: relative;
	&:before{
		content: "";
		display: block;
		position: absolute;
		z-index: 10;
		top: -10px;
		left: 0;
		width: 100%;
		// background: #fff;
		height: 100%;
		opacity: 0.75;
		padding-bottom: 10px;
		box-sizing: content-box;
	}
	.u-loader{
		display: block;
		position: absolute;
		top: 50px;
		z-index: 20;
		left: 50%;
		transform: translateX(-50%);
	}
}
.u-loader,
.u-loader:before,
.u-loader:after {
  background: #6e3996;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.u-loader {
  display: none;
  color: #6e3996;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.u-loader:before,
.u-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.u-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.u-loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.c-whats-popular{
	margin-top: 75px;
	margin-bottom: 60px;

	// .c-movies-list{
	// 	.js-play-popular-listing{
	// 		.list-wrap{
	// 			display: none !important;
	// 			&.list-wrap-page--1{
	// 				display: flex !important;
	// 			}
	// 		}
	// 	}
	// }
    
	@media (max-width: 767px){
	    margin-top: 45px;
	    margin-bottom: 50px;
	}
    .c-movies-list .movie-lsit-wrap{
        min-height: 0;
    }
	.action{
		margin-top: 30px;
		text-align: center;
		a{
			@media (min-width: 767px){
				min-width: 200px;
			}
		}
	}
	.sec-title{
		font-size: 25px;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 30px;
		@media (max-width: 992px){
			font-size: 23px;
		}
		@media (max-width: 767px){
			font-size: 20px;
			line-height: 1em;
			text-align: center;
		}
	}
	.c-movies-list .movie-item{
		@media (min-width: 768px) and (max-width: 1023px) {
			&:nth-child(n+5){
				display: none;
			}
		}
	}
	.c-movies-list{
		@media (max-width: 767px){
			height: auto;
		}
	}
}







/* ==================================== */
/* Video Play Button */
/* ==================================== */

.c-btn-video {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #fff;
    border: 1px solid #000;
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1em;
    font-family: arial;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
}
.c-btn-video + .c-btn-video {
    margin-top: 100px;
}
.c-btn-video:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid #fff;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    margin-right: 15px;
    position: relative;
    left: 0;
    top: 2px;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
@media (min-width: 1025px){
	.c-btn-video:hover {
	    background-color: rgba(0, 0, 0, 0.7);
	}
	.c-btn-video:hover:before {
	    /*left: 2px;*/
	}
}
/* ==================================== */
/* END - Video Play Button */
/* ==================================== */




/* ==================================== */
/* Popup CSS */
/* ==================================== */

.c-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;

    .js-video{
    	iframe{
    		margin-top: 60px;
    		height: 90vh;
    		height: calc(100vh - 60px);
    	}
    }
}

.c-popup .overlay {
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: all .3s;
}

.c-popup.popup--open .overlay {
    background: rgba(0, 0, 0, 0.5);
}

.c-popup .popup {
    display: none;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 740px;
    padding: 20px;
    max-height: 100%;
    width: 100%;
    opacity: 0;
    top: 40%;
    transition: all .3s 0s;
    overflow-y: auto;
}

.c-popup .popup.popup--full-screen {
    top: 0;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 0;
    max-width: none;
    background: #000;
}

.c-popup .popup.popup--full-screen.active {
    top: 0;
}
/* .c-popup video{
	width: 100%;
	height: 100%;
} */
.c-popup .popup.popup--full-screen .popup-wrap {
    padding: 0;
    height: 100%;
}

.c-popup .popup.popup--full-screen .popup-wrap .plyr {
    height: 100%;
}

.c-popup .popup .popup-wrap {
    background: #000;
    padding: 20px;
}

.c-popup .popup.active {
    top: 50%;
    opacity: 1;
    transition-delay: .3s;
}

.c-popup .popup.popup--full-screen .popup-action {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    margin: 0px;
}

.c-popup .title {
    font-size: 1.5625em;
    line-height: 1.3em;
    margin: 0 0 15px;
    font-weight: bold;
    color: #6e3996;
}

.c-popup .txt-wrap {
    max-width: 500px;
    margin: 0 auto;
}

.c-popup .deco {
    display: block;
    margin: 5px 0 15px 0;
    border: none;
    position: relative;
    height: 1px;
    background: #6e3996;
}

.c-popup .deco:after {
    content: '';
    display: block;
    width: 80px;
    height: 6px;
    background: #6e3996;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.c-popup .popup-action {
    text-align: center;
    margin-top: 20px;
}
.c-popup .js-video{
    height: 100%;
    width: 100%;
    background: #000;
}

/* ==================================== */
/* END - Popup CSS */
/* ==================================== */




/* ==================================== */
/* Popup Close BUtton  */
/* ==================================== */

.c-close {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #6e3996;
    border-radius: 999px;
    position: relative;
    transform: rotate(45deg);
    background: #fff;
    transition: all .3s;
    box-sizing: border-box;

	border-radius: 0 0 0 10px;
	transform: none;
	border: 0;
	width: 60px;
	height: 60px;
	background: #fff;
}
.c-close span {
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    position: absolute;
	top: 13px;
	left: 13px;
    transform: rotate(45deg);
    transition: all .35s;
    display: block;

	&:before,
	&:after {
	    content: "";
	    box-sizing: border-box;
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    height: 1px;
	    width: 100%;
	    background: #6e3996;
	    transition: all .3s;
	}
}

.c-close span:after {
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    margin-left: -1px;
}
@media (min-width: 1025px){
	.c-close:hover {
	    background: #6e3996;
	    span{
	    	transform: rotate(135deg);
	    }
	}
	.c-close:hover span:before,
	.c-close:hover span:after {
	    background: #fff;
	}
	.c-close span:active {
	    transform: rotate(225deg);
	}
}
/* ==================================== */
/* END - Popup Close BUtton  */
/* ==================================== */
/* Some responsive css for close button and popup */

@media (max-width: 767px) {
    .c-movies-list .movie-item[onclick] .item-wrap .action .c-btn-white.btn--play{
        display: none;
    }
	.c-close{
		width: 45px;
	    height: 45px;
    }
    .c-close span{
        width: 20px;
        height: 20px;
    }
    .c-close span:after {
        left: 9px;
        margin: 0;
    }
    .c-close span:before {
        top: 9px;
    }
    .c-popup .deco:after {
        width: 60px;
        height: 4px;
        left: 15px;
    }
    .c-popup .popup .popup-wrap {
        padding: 15px;
    }
    .popup .c-form-1 {
        position: static;
        margin: 0;
    }
    .popup .c-form-1 .wrap {
        padding: 0;
    }
    .popup .c-form-1 select,
    .popup .c-form-1 .select2-container {
        width: 100% !important;
    }
}
/* This will keep the video to be complete visible rather than partially! */
.plyr__video-wrapper{
    height: 100%;
    padding: 0 !important;
}
.plyr--full-ui input[type=range]{
	color: #6e3996;
}
.plyr__control--overlaid{
	background: rgba(110, 57, 150, .8);
}
.plyr__control--overlaid:focus, .plyr__control--overlaid:hover{
	background: #6e3996;
}

.landscape-msg--on,
.popup-is-active{
	overflow: hidden;
	transform: none !important;
}

.u-fw-normal{
	font-weight: normal !important;
}

@media (max-width: 1500px){
	.c-list-1 .movie-details .item-details .right,
	ul, p{
		font-size: 15px;
	}
}
@media (max-width: 1200px){
	.c-list-1 .movie-details .item-details .right,
	ul, p{
		font-size: 14px;
		line-height: 1.5em;
	}
}
@media (max-width: 922px){
    .only-above-tablet{
        display: none !important;
    }
}
@media (min-width: 923px){
    .only-below-tablet{
        display: none !important;
    }
}
@media (max-width: 767px){
	.c-list-1 .movie-details .item-details .right,
	ul, p{
		font-size: 13px;
		line-height: 1.4em;
	}
	.only-desktop{
		display: none !important;
	}
}
@media (min-width: 768px){
	.only-mobile{
		display: none !important;
	}
}

.c-btn-play{
	margin: 0 auto;
	display: block;
	width: 85px;
	height: 85px;
	background: rgba(248,249,249,0.60) url('../img/icons/play-black--thin.svg') no-repeat 56% center;
	background-size: 35% auto;
	border-radius: 999px;
	overflow: hidden;
	position: relative;
	
	@media (min-width: 1025px){
		&:hover{
			background-color: rgba(248,249,249,0.86);
		}
	}

	span{
		overflow: hidden;
		width: 0;
		transition: width .35s;
		display: inline-block;
		white-space: nowrap;
	}

	@media (max-width: 1800px){
		width:  80px;
		height: 80px;
	}

	@media (max-width: 1600px){
		width:  75px;
		height: 75px;
	}

	@media (max-width: 1400px){
		width:  70px;
		height: 70px;
	}

	@media (max-width: 922px){
		width:  65px;
		height: 65px;
	}

	@media (max-width: 767px){
		width:  60px;
		height: 60px;
	}
}


/* ================ */
/* Temp */

.clearfix{
	clear: both;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important;
}

input[type='number'] {
    -moz-appearance:textfield !important;
}

.slick-slide{
    > *{
        pointer-events: none;
    }
    &.slick-current, &.slick-active{
        > *{
            pointer-events: auto;
        }   
    }
}



.quick-test-carousel{
    .item{
        font-size: 20px;
        color: #000;
        font-weight: bold;
        padding: 20px;
        text-align: center;

        .img{
            border-radius: 10px;
            display: block;
            padding-top: 170%;
            width: 100%;
            background: #000 no-repeat 50%;
            background-size: cover;
            -webkit-transform: scale(1) rotate(0deg);
            -ms-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
            -webkit-transition: all .35s ease-in-out;
            -o-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
        }
    }
}

.c-landscape-msg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: #000;
	color: #fff;
	z-index: 1020;

	.msg-inner{
		display: flex;
	    width: 100%;
	    height: 100%;
	    justify-content: center;
	    align-items: center;
	    font-size: 20px;
	    padding: 20px;
	    text-align: center;
	}
}

.slick-list{
	clear: both;
	// overflow: auto;
	&:after{
		content: "";
		clear: both;
		display: table;
	}
}

.c-bg-video-wrap{
	.bg-video-wrap{
		width: 65%;
		height: 100%;
		margin: 0 0 0 auto;
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;

		@media (max-width: 767px){
			width: 100%;
			pointer-events: auto;
		}

		.js-bg-video{
		    position: absolute;
		    padding-bottom: 56.25%; /* 16:9 */
		    padding-top: 25px;
		    min-height: 100%;
		    width: 100%;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);

			iframe{
				position: absolute; top: 0; left: 0; width: 100%; height: 100%;
				.is--mobile &{
					// display: none !important;
				}
			}
		}
	}
}


@media (min-width: 1025px){
	.c-movies-list .movie-details .action a.c-btn-white.btn--play-1:hover,
	.c-btn-white.btn--play-1:hover{
		width: 210px;
	}
}

html:not(.is--mobile),
.sabotage-smartbanner{
	transform: none !important;
	.smartbanner{
		opacity: 0;
	}
}

html:not(.has--smartbanner){
	transform: none !important;
	.smartbanner{
		opacity: 0;
	}
}

.is--mobile.has--smartbanner .slick-slider .slick-list{
	transform: none !important;
}

/* .slick-list{
  overflow: hidden;
}
.slick-list:after{
  clear: both;
  content: "";
  display: block;
} */
