.c-content-sty-1{
	margin: 100px 0px;

	@media (max-width: 1900px){
		margin: 90px 0;
	}
	@media (max-width: 1800px){
		margin: 80px 0;
	}
	@media (max-width: 1700px){
		margin: 70px 0;
	}
	@media (max-width: 1400px){
		margin: 60px 0;
	}
	@media (max-width: 1200px){
		margin: 40px 0;
	}
	@media (max-width: 767px){
		margin: 25px 0;
	}

	.c-btn-glow{
		margin: 30px 0;
		min-width: 150px;
	}

	h1{
		@extend .heading-sty-4;
	}

	section{
		+ section{
			margin-top: 20px;
		}
	}

	figure{
		position: relative;
		max-width: 480px;
		margin: 0px auto 20px;

		&.float-right{
			float: right;
			margin: 60px 20px 60px 60px;
			max-width: 45%;
			@media (max-width: 920px){
				margin: 50px 30px 50px 50px;
				&:before{
					right: -50px;
				}
			}
			@media (max-width: 767px){
				display: block;
				max-width: none;
				margin: 0px 0 20px;
				float: none;
			}
		}

		&:before{
			content: '';
			display: block;
			width: 367px;
			height: 308px;
			position: absolute;
			top: -40px;
			right: -70px;
			background: url('../img/icons/icon-r.png') no-repeat;
			background-size: 100% auto;
		}

		img{
			border-radius: 5px;
			position: relative;
			overflow: hidden;

			+ figcaption{
				margin-top: 20px;
			}
		}

		figcaption{
			font-size: 14px;
			line-height: 1.4em;
			font-style: italic;
		}
	}

	ul{
		list-style: none;
		margin: 0 0 20px 0;
		padding: 0;

		li{
			padding-left: 45px;
			position: relative;

			&:before{
				content: '';
				display: block;
				width: 14px;
				height: 7px;
				background: url('../img/icons/bullet.svg') no-repeat center center;
				background-size: 100% auto;
				position: absolute;
				top: 7px;
				left: 0;
			}

			+ li{
				margin-top: 20px;
			}
		}
	}

	blockquote{
		font-weight: 100;
		font-size: 24px;
		font-style: italic;
		line-height: 1.4em;
		color: #6e3996;
		padding-left: 80px;
		position: relative;
		margin-bottom: 30px;

		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/icons/quotes.svg') no-repeat top left;
			background-size: 100% auto;
			width: 43px;
			height: 43px;
		}
	}

	.row{
		display: flex;
		margin: 0 -20px 20px;

		.col{
			width: 50%;
			padding: 0 20px;
		}
	}
}

.c-content-sty-2{
	margin: 60px 0;
	@media (max-width: 1600px){
		margin: 50px 0;
	}
	@media (max-width: 1200px){
		margin: 40px 0;
	}
	@media (max-width: 920px){
		margin: 30px 0;
	}
	@media (max-width: 767px){
		margin: 25px 0;
	}
	p{
		@extend .para-sty-3;
	}
}

@media (max-width: 1700px){
	.c-content-sty-1 blockquote{
		font-size: 23px;
		margin-bottom: 23px;
	}
}
@media (max-width: 1600px){
	.c-content-sty-1 blockquote{
		font-size: 22px;
		padding-left: 65px;
	}
	.c-content-sty-1 blockquote:before{
		width:  40px;
		height: 40px;
	}
}
@media (max-width: 1500px){
	.c-content-sty-1 blockquote{
		font-size: 21px;
		padding-left: 60px;
		margin-bottom: 22px;
	}
	.c-content-sty-1 blockquote:before{
		width: 38px;
		height: 38px;
	}
}
@media (max-width: 1400px){
	.c-content-sty-1 blockquote{
		font-size: 20px;
		margin-bottom: 22px;
	}
}
@media (max-width: 1200px){
	.c-banner-2 .action{
		margin-top: 35px;
	}
	.c-content-sty-1 blockquote{
		margin-bottom: 20px;
	}
	.c-content-sty-1 figure:before{
		width: 307px;
		top: -30px;
		right: -60px;
	}
}
@media (max-width: 920px){
	.c-banner-2 .action{
		margin-top: 30px;
	}
	.c-content-sty-1 blockquote{
		font-size: 18px;
		line-height: 1.3em;
		padding-left: 50px;
	}
	.c-content-sty-1 blockquote:before{
		width:  34px;
		height: 34px;
	}
}
@media (max-width: 767px){
	.c-banner-2 .action{
		margin-top: 25px;
	}
	.c-content-sty-1 figure{
		margin-top: 20px;
	}
	.c-content-sty-1 .c-btn-glow{
		margin: 15px 0;
	}
	.c-content-sty-1 ul li+li{
		margin-top: 15px;
	}
	.c-content-sty-1 blockquote{
		margin-top: 10px;
	}
	.c-content-sty-1 figure:before{
		display: none;
	}
}