.c-exp-views{
	.o-container{
		position: relative;
		@media (max-width: 767px){
			padding: 0;
		}
	}
	.sec-heading{ 
		font-family: 'arquitecta_mediummedium', arial, sans-serif;
		display: flex;
		font-size: 25px;
		line-height: 1em;
		letter-spacing: 1px;
		width: 100%;
		text-transform: uppercase;
		align-items: center;
		margin-bottom: -12px;
		position: relative;
		z-index: 5;
		@media (max-width: 767px){
			font-size: 20px;
			margin-bottom: 30px;
			span{
				display: block;
				width: 100%;
				text-align: center;
			}
		}

		i{
			height: 1px;
			background: #d0d0d0;
			width: 100%;
			margin-left: 20px;

			@media (max-width: 767px){
				display: none;
			}
		}
		.txt{
			margin: 0;
		}
	}

	.carousel-thumb{
		position: absolute;
		bottom: -13px;
		left: 15px;
		max-width: 900px;
		height: 113px;
		@media (max-width: 1600px){
			bottom: -23px;
		}
		@media (max-width: 1580px){
			left: 5.4217vw;
		}
		@media (max-width: 1023px){
			bottom: -33px;
		}
		@media (max-width: 767px){
			left: 15px;
		}
		@media (max-width: 767px){
			left: 0;
			position: static;
			width: 120px;
			height: 67px;
			margin: 0 auto;
		}

		.item{
			padding: 0px 1px;
			transition: all .35s;
			cursor: pointer;

			.img-wrap{
				border-radius: 10px;
				background: #f2f5f8;
				padding: 25px;
				width:  180px;
				height: 100px;
				max-width: 100%;
				position: relative;
				overflow: hidden;
				transition: all .35s;
				
				@media (max-width: 1600px){
					padding: 15px;
					width:   170px;
					height:  90px;
				}
				@media (max-width: 1023px){
					width: 130px;
					height: 80px;
				}
				@media (max-width: 767px){
					width: 117px;
					height: 60px;
					// background: #7f7f7f;
				}

				img{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					max-width: 80%;
				}
			}
		}

		.slick-list{
			@media (max-width: 767px){
				overflow: visible;
			}
		}

		.slick-slide{
			// width: 170px !important;
			transition: all .35s;

			&:hover{
				&.slick-current{
					// width: 170px !important;
				}
			}
			
			&:hover,
			&.slick-current{
				// width: 220px !important;
				.item{
					// padding-top: 0px;
					// padding-bottom: 0;
				}
				.img-wrap{
					// width: 100%;
					// height: 110px;
					@media (max-width: 1600px){
						// height: 100px;
					}
					@media (max-width: 1023px){
						// height: 90px;
					}
					@media (max-width: 767px){
						// height: 67px;
					}
				}
			}
			&.slick-current{
				.img-wrap{
					background: #fff;
					@media (max-width: 767px){
						background: #fff;
					}
				}
			}
		}
	}

	.carousel{
		.item{
			min-height: 525px;
			display: flex !important;
			align-items: center;
			padding: 50px 50px 150px;
			position: relative;

			@media (max-width: 1600px){
				padding: 40px 50px 130px;
				min-height: 450px;
			}

			@media (max-width: 1023px){
				padding: 25px 30px 100px;
				min-height: 360px;
			}
			@media (max-width: 767px){
				padding: 0px 0px 25px;
				flex-direction: column;
			}
		}
		.img{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			@media (max-width: 767px){
				position: relative;
				order: -1;
				height: auto;
			}
			&:after,
			&:before{
			    content: "";
			    display: block;
			    width: 35%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 42%;
				background: linear-gradient(90deg,#fff 0,#fff 5%,hsla(0,0%,100%,0));
				z-index: 1;
				@media (max-width: 1600px){ 
					left: 48%;
				} 
				@media (max-width: 1023px){
					left: 55%;
				}
				@media (max-width: 767px){
					display: none;
				}
			}
			&:after{
			    width: 42%;
			    left: 0%;
				background: #fff;
				z-index: 1;
				@media (max-width: 1600px){
					width: 48%;
				}
				@media (max-width: 1023px){
					width: 55%;
				}
			}
			img{
				height: 100%;
				width: auto;
				display: block;
				margin: 0 0 0 auto;
				position: relative;
				z-index: 0;

				@media (max-width: 1023px) and (min-width: 768px){
					transform: translateX(20%);
				}
				@media (max-width: 767px){
					height: auto;
				}
			}
		}
		.txt{
			position: relative;
			z-index: 5;
			max-width: 530px;

			@media (max-width: 1023px){
				max-width: 420px;
			}

			@media (max-width: 767px){
				text-align: center;
				padding: 20px 20px 0;
				min-height: 220px;
			}

			h2{
				font-size: 55px;
				line-height: 1em;
				color: #222;
				font-weight: bold;
				margin: 0 0 22px 0;
		
				@media (max-width: 1600px){
					font-size: 50px;
				}
				@media (max-width: 1400px){
					font-size: 40px;
				}
				@media (max-width: 1023px){
					font-size: 35px;
					margin-bottom: 15px;
				}
				@media (max-width: 767px){
					font-size: 30px;
					margin-bottom: 10px;
				}
			}
			p{
				font-size: 16px;
				line-height: 1.6em;
				margin-bottom: 30px;

				@media (max-width: 1023px){
					font-size: 15px;
					line-height: 1.4em;
					margin-bottom: 20px;
				}
			}
			.c-btn-glow {
				padding-right: 35px;
				padding-left: 35px;
				
			}
		}
	}

	@media (max-width: 767px){
		margin-bottom: 60px;
	    height: calc(100vh - 133px);
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    margin-bottom: 40px;

	    .sec-heading{
	    	margin-top: 20px;
	    	margin-bottom: 20px;
	    }
	    .carousel .txt h2{
	    	font-size: 26px;
	    }
	    .carousel .txt p{
	    	font-size: 13px;
	    	margin-bottom: 15px;
	    }
		@media (max-height: 760px){
		    .carousel .img img{
			    height: 150px;
			    object-fit: cover;
			    width: 100%;
		    }
		}
		@media (max-height: 650px){
	    	height: calc(100vh - 115px);
	    	.carousel .img img{
				height: 130px;
	    	}
	    	.carousel .txt{
	    		min-height: 0;
	    	}
	    	.carousel .item{
	    		min-height: 0;
	    	}
		}
		@media (max-height: 600px){
			.carousel .img img{
				height: 100px;
			}
			.carousel .txt{
				padding-top: 15px;
			}
			.sec-heading{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
		@media (max-height: 550px){
			.carousel .txt h2{
				font-size: 22px;
			}
			.carousel .txt p{
				font-size: 12px;
			}
			.carousel .txt .c-btn-glow{
			    padding: 12px 20px;	
			    font-size: 12px;
			    line-height: 1em;
		    }
		    .carousel .item{
		    	padding-bottom: 10px;
		    }
		}
	}
}