.is--ie{
	.c-main-banner .main-carousel .txt{
		position: absolute;
		top: 50%;
		transform: translate(0, -50%) !important;
	}
	.c-main-banner .main-carousel .item .item-inner{
		/* min-height: 530px; */
	}
	.c-movie-filters .c-select-box .field{
		/* height: 42px; */
	}
	.c-subs-box input{
		line-height: 1em;
		height: 46px;
	}
	.c-movie-filters .c-select-box .field input{
		line-height: 1em;
		height: 52px;
	}
	.c-movies-list .movie-item{
	}

	&.is--ie-10{
		.c-movie-filters .wrap>*{
			width: auto;
			&.has--viewbar{
				&:last-child{
					margin: 0 0 0 auto;
				}
			}
		}
	}
}