/* ================== */
/* 100VH */
/* Makes sure element is covering entire height by subtracting header height from it. */
/* NOTE: Filter bar height will be subtracted from javascript and will need manual working on it. */
/* ================== */

.height-cover{
	min-height: 90vh;
	min-height: calc(100vh - 85px);

	@media (max-width: 1800px){
		min-height: calc(100vh - 83px);
	}
	@media (max-width: 1600px){
		min-height: calc(100vh - 82px);
	}
	@media (max-width: 767px){
		min-height: calc(100vh - 67px);

		@media (max-height: 650px){
			min-height: calc(100vh - 57px);
		}
	}
}

/* ================== */
/* END - 100VH */
/* ================== */

.slick-arrows-1{
	.slick-arrow{
		display: block;
		position: absolute;
		top: 50%;
		left: 25px;
	    width: 33px;
	    height: 60px;
		appearance: none;
		border-radius: 0;
		z-index: 10;
		font-size: 0;
		color: transparent;
		border: 0;
		cursor: pointer;
		background: transparent url(../img/icons/arrow-left.svg) no-repeat 50%;
		transform: translateY(-50%);

		&.slick-next{
			right: 25px;
			left: auto;
			background-image: url(../img/icons/arrow-right.svg);
		}
	}
}