/* ================== */
/* 100VH */
/* Makes sure element is covering entire height by subtracting header height from it. */
/* NOTE: Filter bar height will be subtracted from javascript and will need manual working on it. */
/* ================== */

.height-cover{
	min-height: 90vh;
	min-height: calc(100vh - 85px);

	@media (max-width: 1800px){
		min-height: calc(100vh - 83px);
	}
	@media (max-width: 1600px){
		min-height: calc(100vh - 82px);
	}
	@media (max-width: 767px){
		min-height: calc(100vh - 67px);

		.hl-650 &{
			min-height: calc(100vh - 57px);
		}
	}
}

.height-cover--solid{
	height: 90vh;
	height: calc(100vh - 85px);

	@media (max-width: 1800px){
		height: calc(100vh - 83px);
	}
	@media (max-width: 1600px){
		height: calc(100vh - 82px);
	}
	@media (max-width: 767px){
		height: calc(100vh - 67px);

		.hl-650 &{
			height: calc(100vh - 57px);
		}
	}
}

.height-cover--tabs--solid{
	height: 90vh;
	height: calc(100vh - 168px);

	@media (max-width: 1800px){
		height: calc(100vh - 83px);
	}
	@media (max-width: 1600px){
		height: calc(100vh - 82px);
	}
	@media (max-width: 767px){
		height: calc(100vh - 67px);

		.hl-650 &{
			height: calc(100vh - 57px);
		}
	}
}

/* ================== */
/* END - 100VH */
/* ================== */

.slick-arrows-1{
	.slick-arrow{
		display: block;
		position: absolute;
		top: 50%;
		left: 25px;
	    width: 33px;
	    height: 60px;
		appearance: none;
		border-radius: 0;
		z-index: 10;
		font-size: 0;
		color: transparent;
		border: 0;
		cursor: pointer;
		background: transparent url(../img/icons/arrow-left.svg) no-repeat 50%;
		transform: translateY(-50%);
		cursor: pointer;
		
		&.slick-next{
			right: 25px;
			left: auto;
			background-image: url(../img/icons/arrow-right.svg);
		}
	}
	@media (max-width: 1650px){
		.slick-arrow{
			width: 28px;
		}
	}
	@media (max-width: 1500px){
		.slick-arrow{
			width: 23px;
		}
	}
	@media (max-width: 1350px){
		.slick-arrow{
			left: 15px;
			&.slick-next{
				left: auto;
				right: 15px;
			}
		}
	}
	@media (max-width: 767px){
		.slick-arrow{
			height: 26px;
		}
	}
}

.c-tabs-links{
	font-size: 0;
	transform: translateY(-100%);
	position: relative;
	z-index: 3;

	&.tabs-links--a{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		white-space: nowrap;
		overflow-x: auto;

		a{
			background: transparent;

			&.is--active{
				background: #fff;
			}
		}
	}

	a{
		border-radius: 10px 10px 0 0;
		background: #fff;
		display: inline-block;
		font-size: 15px;
		line-height: 1em;
		padding: 24px;
		text-transform: uppercase;
		background: rgba(255,255,255,.2);
		transition: background .35s, color .35s;
		color: #fff;
		min-width: 220px;
		text-align: center;
		margin-top: 20px;

		+ a{
			margin-left: 2px;
		}

		&.is--active{
			background: rgba(255,255,255,1);
			color: #383041;
		}
	}

	@media (max-width: 1500px){
		a{
			min-width: 200px;
		}
	}
	@media (max-width: 767px){
		margin-bottom: -60px;

		a{
			font-size: 14px;
			padding: 22px 15px 19px;
			min-width: 130px;
		}
	}
}
.slick-dots-sty-1{
	.slick-dots{
		li{
			display: inline-block;
			+ li{
				margin-left: 10px;
			}
		}
		button{
			display: block;
			width: 13px;
			height: 13px;
			font-size: 0;
			color: transparent;
			box-shadow: none;
			border-radius: 999px;
			border: 1px solid #fff;
			background: transparent;
			transition: background .35s;
			cursor: pointer;
			padding: 0;
		}

		.slick-active{
			button{
				background: #fff;
			}
		}
	}
}
.slick-dots-sty--black{
	.slick-dots{
		li{
		}
		button{
			border-color: #000;
		}
		.slick-active{
			button{
				background: #000;
			}
		}
	}
}