
.c-movies-list{
	margin-bottom: 40px;
	overflow: hidden;
	width: 100%;

	.js-movie-list{
		@media (min-width: 767px){
			// min-height: 300px;
		}
	}

	&.movies-list--a{
		.tileview-movies-list >*{
			@media (min-width: 1024px){
				&:nth-child(1){
					width: 35%;
				}
				&:nth-child(3){
					width: 20%;
				}
				&:nth-child(4){
					width: 45%;
				}
			}
			@media (max-width: 1023px){
				&:nth-child(1){
					// width: 35%;
				}
				&:nth-child(2){
					display: block !important;
					min-height: 45px;
					.img, .moviename{
						display: none;
					}
					.locationmobile{
						margin-left: 0;
					}
				}
				&:nth-child(4){
					// width: 45%;
				}
			}
		}
		.tileview-movies-list.tileview-movies-list--sty1{
			> *{
				&:nth-child(2){
					@media (max-width: 1023px){
						display: none !important;
					}
				}
			}
		}
	}

	.movie-lsit-wrap{
		@media (max-width: 767px){
			max-width: 270px;
			padding: 0;
			width: 100%;

			.slick-slide{
				transform: translateX(30px);
				transition: transform .35s;

				&.slick-current.slick-active{
					transform: translateX(0px);
					& + .slick-slide{
						transform: translateX(-30px);
					}
				}
			}

			.slick-list{
				overflow: visible;
			}
			.movie-item{
				.img{
					transform: scale(0.8) translateZ(0);
					// filter: blur(2px);
					transition: transform 0.35s;
					overflow: visible;
					border-radius: 0;
					@media (max-height: 590px){
						transform: scale(0.9) translateZ(0);
					}

					img{
						border-radius: 10px;
					}

					&:after{
						/* content: "";
											    display: block;
											    position: absolute;
											    bottom: -20px;
											    left: 50%;
											    transform: translate3D(-50%, 0, 0, 0);
						transition: opacity .35s;
											    background: url('../img/movie-posters/poster-shadow.png') no-repeat center center / cover;
											    width: 247px;
											    height: 13px;
											    opacity: 1; */
					}
				}
				
				.action,
				.info{
					opacity: 0;
					transition: opacity 0.35s;
				}
				.action,
				.info{
					transform: translateZ(0);
				}
			}
			.slick-active{
				.movie-item{
					.img{
						transform: scale(1) translateZ(0);
						// filter: blur(0px);
						transition: transform 0.35s;
						&:after{
							opacity: 0;
						}
					}
					
					.action,
					.info{
						opacity: 1;
					}
				}
			}
		}
	}	
	.list-main-action{
		text-align: center;
		margin: 20px 0 60px;
		@media (max-width: 767px){
			display: none;
		}

		.c-btn-outline{
			min-width: 152px;
		}
	}
	.list-tabs{
		margin: 0 0 20px;
		
		@media (max-width: 1400px){
			margin: 10px 0 30px 0;
		}

		@media (max-width: 767px){
			text-align: center;
		}

		a{
			font-family: 'arquitecta_mediummedium', arial, sans-serif;
			font-size: 25px;
			line-height: 1em;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #222;
			padding-right: 40px;
			margin-right: 40px;
			border-right: 1px solid #dadada;
			position: relative;
			transition: all .35s;
			display: inline-block;
			.txt-wrap{
				position: relative;
			}

			@media (min-width: 1025px){
				&:hover{
					color: #6e3996;
				}
			}

			@media (max-width: 1800px){
				font-size: 23px;
			}
			@media (max-width: 1400px){
				font-size: 18px;
			}
			@media (max-width: 767px){
				font-size: 16px;
				margin-right: 20px;
				padding-right: 20px;
				min-width: 114px;
				display: inline-block;
				box-sizing: content-box;
				text-align: right;
			}

			&:last-child{
				border-right: 0;
				margin-right: 0;
				padding-right: 0;
				padding-left: 0;
			}
			span{
				display: block;
				opacity: 1;
				transition: opacity .35s;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				height: 100%;
			}
			strong{
				display: block;
				opacity: 0;
				transition: opacity .35s;
				font-weight: bold;
				line-height: 1em;

				@media (max-width: 767px){
					text-align: center;
				}
			}

			&.is--active{
				color: #6e3996;
				span{
					opacity: 0;
				}
				strong{
					opacity: 1;
				}
			}
		}
	}
	
	.booknow-tag {
		width: 85px;
		height: 70px;
		background: url(../img/misc/booknow-tag.png) no-repeat left top;
		position: absolute;
		left: -2px;
		top: -2px;
		z-index: 5;
		
		span {
			position: absolute;
			font-size: 10px;
			color: #FFF;
			display: block;
			text-shadow: 0 1px 5px rgba(93,11,21,0.45);
			top:20px;
			letter-spacing: 0.3px;
		/* Safari */
		-webkit-transform: rotate(-40deg);

		/* Firefox */
		-moz-transform: rotate(-40deg);

		/* IE */
		-ms-transform: rotate(-40deg);

		/* Opera */
		-o-transform: rotate(-40deg);

		/* Internet Explorer */
		}
	}
	.stamp{
		transition: all .20s ease-in-out;
		display: block;
		width: 40px;
		height: 40px;
		font-size: 13px;
		line-height: 0.9em;
		color: #fff;
		text-align: center;
		display: flex;
		background: #6e3996;
		border-radius: 999px;
	    justify-content: center;
	    align-items: center;
	}
	.list-wrap{
		display: flex;
		margin: 0 -10px;
		@media (min-width: 768px){
			// min-height: 240px;
		}
		@media (max-width: 1400px){
			margin: 0 -5px;
		}
	}
	.movie-item{
		padding: 0 10px;
		margin-bottom: 20px;
		position: relative;

		width: 16.66666666666667%;
		@media (max-width: 1023px){
			width: 25%;
		}
		@media (max-width: 767px){
			width: 100%;
		}

		@media (max-width: 1400px){
			padding: 0 5px;
			margin-bottom: 10px;
		}
		@media (max-width: 767px){
			padding: 0;
		}

		&.is--active{
			padding-bottom: 20px;
			margin-bottom: 0;

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 10px;
				background: linear-gradient(180deg,hsla(0,0%,85%,.5) 75%,#dadada);
				/* background: transparent url(../img/movie-posters/movies-list-overlay.png); */
				background-origin: left top;
				/* background-size: auto 416px; */
				height: 100%;
				width: calc(100% - 20px);
				z-index: 5;
				border-radius: 5px 5px 0 0;
				@media (max-width: 1400px){
					left: 5px;
					width: calc(100% - 10px);
				}
			    @media (max-width: 767px){
			    	display: none;
			    }
			}

			// .bot-img,
			&:after{
				content: "";
				display: block;
				position: absolute;
				bottom: 20px; 
				left: 10px;
				width: calc(100% - 20px);
				height: 65px;
				background: #fff;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,1) 100%);
				// background: transparent url(../img/movie-posters/movies-list-overlay.png);
				background-origin: left bottom;
				// background-size: auto 416px;

				@media (max-width: 1400px){
					left: 5px;
					width: calc(100% - 10px);
				}
			    @media (max-width: 767px){
			    	display: none;
			    }
			}

			/* .bot-img{
				display: block;
				position: absolute;
				bottom: 20px; 
				left: 10px;
				width: calc(100% - 20px);
				height: 65px;
				background: #fff no-repeat center center;
				background-size: cover;
				background-origin: left bottom;
				z-index: 99;
			} */

		    /* &:nth-child(2){ .bot-img, &:before{ background-position-x: -250px; } }
		    &:nth-child(3){ .bot-img, &:before{ background-position-x: -500px; } }
		    &:nth-child(4){ .bot-img, &:before{ background-position-x: -750px; } }
		    &:nth-child(5){ .bot-img, &:before{ background-position-x: -1000px; } }
		    &:nth-child(6){ .bot-img, &:before{ background-position-x: -1250px; } } */

		    .item-wrap{
		    	border-radius: 5px 5px 0 0;
		    }

			.item-wrap:hover .img:before{
				opacity: 0;
			}
			.stamp,
			.info{
				opacity: 0;

		    	@media (max-width: 767px){
		    		opacity: 1;
		    	}
			}
		}

		.item-details{
			display: none;
		}
		.item-wrap{
			position: relative;
			border-radius: 5px;
			//overflow: hidden;
			cursor: pointer;
			// margin: 3px;
			@media (max-width: 767px){
				text-align: center;
			}

			.action{
				display: none;
				margin-top: 20px;
				a{ 
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
				}
	    		@media (max-width: 767px){
	    			display: block;
					.c-btn-white {
						display: none;
					}
					.c-btn-glow.btn--sm {
						width: 200px;
						padding:15px 25px;
					}
	    		}
	    		.c-btn-glow{
	    			box-shadow: none;
					font-weight: normal;
	    		}
				.c-btn-white{
					background: #e5e5e5;
					box-shadow: none;
					font-weight: normal;
				}
			}
			
			@media (min-width: 1025px){
				&:hover{
					.img{
						&:before{
							opacity: 1;
						}
					}
					.info{
						background: #6e3996;
						.name{
							color: #fff;
						}
						.detail{
							max-height: 50px;
							color: #fff;
						}
					}
				}
			}
		}
		.img{
			position: relative;
			border-radius: 7px;
			//overflow: hidden;

			@media (max-width: 767px){
				margin: 0 auto;
				display: inline-block;
			}

			&:before{
				content: '';
				display: block;
				background: rgba(0,0,0,0.8);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity .35s;
				border-radius: 7px;

			    @media (max-width: 767px){
			    	display: none;
			    }
			}

			img{
				display: block;
				border-radius: 7px;
			}
		}
		@media (min-width: 767px){
		.img:hover + .stamp {
			animation-name: bounceIn;			
			  animation-duration: 300ms;
			  animation-timing-function: linear;
			  animation-fill-mode: forwards;
			}
		}

		.stamp{
			position: absolute;
			top: 10px;
			right: 10px;

			@media (max-width: 767px){
			    right: 50%;
			    transform: translateX(104px);
			    font-size: 12px;
			}
		}
		.info{
			display: inline-block;
			background: #6e3996;
			display: flex; 
			text-align: center; 
		    justify-content: center;
		    align-items: center; 
		    min-height: 68px;
		    padding: 17px 20px;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    flex-direction: column;
		    width: 100%;
		    transition: all .35s;
		    border-radius: 0 0 5px 5px;
		    > * {
		    	max-width: 100%;
		    }
			.duration-language {
				display: none;
			}
		    @media (max-width: 1600px){
		    	padding-right: 15px;
		    	padding-left: 15px;
		    }
		    @media (max-width: 1400px){
		    	padding: 10px 15px;
		    }
		    @media (max-width: 767px){
		    	background: transparent;
		    	position: relative;
				.duration-language {
					text-align: center;
					display: inline-block;
					div{
						display: inline-block;
						font-size: 12px;
						color: #222222;
						text-transform: uppercase;
						margin: 10px 20px 0 0;

						&:nth-child(2n),
						&:last-child{
							margin-right: 0;
						}
						&:nth-child(n+2){
							margin-top: 0;
							padding-top: 10px;
							padding-bottom: 0;
						}
						img,
						svg  { 
							display: inline-block;
							width: 22px;
							height: auto;
							fill: #222222;
							margin: 0 10px 0 0;
							position: relative;
							top: 5px;

						}
					}
					.language{
						.icon{
							img{
								top: 1px;
							}
						}
					}
				}
				.detail-inner-wrap {
					display: none;
				}
		    } 

			.name{
				font-size: 14px;
				line-height: 1.2em;
				color: #FFF;
				display: block;
		    	transition: all .35s;
				text-transform: uppercase;

		    	@media (max-width: 767px){
					color: #222;
		    		font-size: 22px;
		    		font-weight: bold;
					text-transform: none;
		    	}
			}
			.detail{
				font-size: 14px;
				line-height: 1em;
				max-height: 0;
				overflow: hidden;
		    	transition: all .35s;
				color: #2d2d2d;

				@media (max-width: 1600px){
					font-size: 13px;
				}
		    	@media (max-width: 767px){
		    		max-height: none;
		    		font-size: 15px;
		    	}

		    	.detail-inner-wrap{
		    		padding-top: 10px;
		    		@media (max-width: 767px){
		    			padding-top: 7px;
		    		}
		    	}
			}
		}
	}

	.movie-details{
		padding-bottom: 20px;
		overflow: hidden;
		// height: 0;
		display: none;
		position: relative;
		top: -1px;
		.btn-close{
			border-radius: 999px;
			background: rgba(0,0,0,0.3);
			overflow: hidden;
			position: absolute;
			top: 20px; 
			right: 20px;
			transform: rotateZ(45deg);
			display: block;
			z-index: 10;
			width: 45px;
			height: 45px;
			&:hover {
				transform: rotate(140deg);
			}
			@media (max-width: 1023px){
				width:  35px; 
				height: 35px;
				top: 15px;
				right: 10px; 
			}
			.txt{
				display: none;
			}
			i{
				position: absolute;
				width: 2px;
				height: 17px;
				background: #fff;
				border-radius: 2px;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;

				&:nth-child(2){
					width: 17px;
					height: 2px;
				}
			}
		}
		.item-details{  
			background: #d9d9d9;
			position: relative;
			border-radius: 7px;
			overflow: hidden;
			margin-top: -1px;

			&.is--last-item{ 	border-radius: 7px 0px 7px 7px; }
			&.is--first-item{ 	border-radius: 0 7px 7px 7px; }
		}
		.title-wrap{
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			align-items: flex-start;

			.stamp{
				margin-left: 20px;
			}
		}
		.img{
			position: absolute; 
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			overflow: hidden;
			text-align: right;
			background: #d9d9d9;
			padding: 30px 260px 30px 20px;
			@media (max-width: 1660px){
				padding-right: 14.5vw;
			}
			@media (max-width: 1200px){
				padding-right: 9.5vw;
			}
			//mix-blend-mode: multiply;	
			/* &:before{
				content:'';
				display: block;
				width:100%;
				height: 100%;
				background: url("../img/movie-posters/movie-cover-overlay.png") no-repeat left top;
				position:absolute; 
				z-index: 2;
				left: 0;  
				top: 0; 
			}  */
			img{  
				display: block;
				height: 100%;
				width: auto;
				margin: 0 0 0 auto;
				height: 100%;
				// height: calc(100% + 40px);
				// transform: translateY(calc(20px - 60px));
				mix-blend-mode: multiply;

				@media (max-width: 1200px){
				}
			}
			@media (max-width: 1023px){
				display: none;
			}
		}
		.text{
			position: relative;
			z-index: 5;
			padding: 58px;
			@media (max-width: 1500px){
				padding: 40px 50px;
			}
		} 
		.title{
			font-size: 40px;
			line-height: 1em;
			color: #222;
			font-weight: 700;
			max-width: 44%;
			@media (max-width: 1800px){
				// font-size: 40px;
			}
			@media (max-width: 1700px){
				font-size: 35px;
			}
			@media (max-width: 1023px){
				max-width: 100%;
				font-size: 30px;
			}
		}
			.info{
			font-size: 12px;
			color: #222;
			line-height: 1.2em;
			margin: 5px 0;
			max-width: 420px;

			@media (max-width: 1500px){
				font-size: 12px;
				margin: 2px 0;
			}  

			&.has-lsit{
				display: flex;
				align-items: center;
				max-width: none;
			}
			strong{
				font-weight: bold;
				margin-right: 5px;
			}
		}
		.exp-list{
			list-style: none;
			margin: 20px 0;
			padding: 0;
			display: flex;
			@media (max-width: 1500px){
				margin: 15px 0;
			}
			li{
				padding-left: 20px;
				&:first-child{
					padding-left: 10px;
				}
			}
			img{
				max-height: 27px;
			}
		}
		.action{
			margin-top: 30px;
			a{
				&.c-btn-white.btn--play-1{
					&:hover{
						width: 175px;
					}
				}
				margin-right: 30px;
				//min-width: 160px;
			}
		} 
		.genere {
				line-height: 1.4em;
			text-transform:uppercase;
			span{
					display: inline-block;
					margin: 0 5px;

					&:first-child{ 
						margin-left: 0;
					} 
					&:last-child{
						margin-right: 20px;
						&:after{
							display: none;
						}
					}

					&:after{ 
						content: '|';
						margin-left: 10px;
					}
				}
		} 
		.duration, .language {
			display: inline-block;
			text-transform:uppercase; 
			margin: 5px 0;
		.icon {
				display:inline-block;  
				width: 20px;  
				height:20px;
				/*background: url("../img/icons/duration.png") no-repeat left top;*/ 
				position: relative;
				top: 6px; 
				margin-right: 15px;
			svg  { 
  				fill: #222;
  				path{
  					stroke: #222;
  				}
  				text{
  					fill: #222;
  				}
				
			}
			}
		.medium {
				width: 25px !important;
				top: 8px;
				left: 3px;
				margin-left: 10px;
			}
			span {
				font-weight: 400;
				display: inline-block;
				margin-right: 15px;				
			}
			.margin-right {
				margin-right:25px;
				
			}
		}
	}

	@media (max-width: 767px){
	    height: calc(100vh - 133px);
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    margin-bottom: 0px;

	    .slick-initialized .slick-track{
	    	&:after{
				// content: "";
				// display: table;
				// clear: both;
		    }
		}

	    &.movies-list--1{
	    	height: auto;
			@media (max-width: 767px){
				.o-container{
					padding: 0;
				}
			}
	    }
	    
	    .movie-item{
	    	margin-bottom: 0;
	    }
	    .slick-slide{
	    	overflow: visible;
	    }
	    .movie-item .info{
	    	min-height: 0;
	    	.name{
			    white-space: nowrap;
			    display: block;
			    width: 100vw;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    max-width: none;
			    text-align: center;
			    padding: 0 20px;

				br{
					display: none;
				}
		    }
		}
	    .movie-item .item-wrap .action .c-btn-glow.btn--sm{
	    	margin-right: 0;
	    }
	    .list-tabs{
	    	margin: 4vh 0;

			@media (max-height: 610px){
				margin-top: 3vh;
				margin-bottom: 3vh;
			}
	    }
	    .movie-item .stamp{
	    	transform: none;
	    	right: 2vw;
			top: 2vw;
	    }
		@media (max-height: 740px){
			.movie-lsit-wrap .movie-item .img{
				width: 30vh;
			}
			.movie-item .info .duration-language div{
				margin-top: 8px;
			}
			.movie-item .item-wrap .action{
				margin-top: 5px;
			}
		}
		@media (max-height: 650px){
			margin-bottom: 0;
	    	height: calc(100vh - 115px);
			.movie-item .stamp{
				font-size: 9px;
			    width: 30px;
			    height: 30px;
			}
			.movie-item .info .duration-language div{
				font-size: 11px;
			}
			.movie-lsit-wrap .movie-item .img{
				width: 30vh;
			}
			.movie-lsit-wrap{
				max-width: 230px;
			}
			.movie-item .info .duration-language div img,
			.movie-item .info .duration-language div svg{
				width: 18px;
			}
			.movie-item .info .name{
				font-size: 20px;
			}
		}
		@media (max-height: 585px){
			.movie-lsit-wrap .movie-item .img{
				width: 28vh;
			}
			.c-movies-list .movie-lsit-wrap{
				width: 200px;
			}
		}
		@media (max-height: 550px){
			.movie-lsit-wrap .movie-item .img{
				width: 28vh;
			}
			.movie-item .item-wrap .action{
    			margin-top: 5px;
			}
			.movie-item .item-wrap .action .c-btn-glow.btn--sm{
				padding: 12px 20px;
				font-size: 12px;
				line-height: 1em;
			}
			.movie-item .info .duration-language div img,
			.movie-item .info .duration-language div svg{
				width: 14px;
			}
		}
		@media (max-height: 520px){
			margin-bottom: 20px;
			.movie-lsit-wrap .movie-item .img{
				width: 24vh;
			}
		}
	}
}

@keyframes bounceIn{
  50%{
	//opacity: 0.9;
	transform: scale(0.89);
  }
  80%{
	//opacity: 1;
	transform: scale(1.1);
  }
  100%{
	//opacity: 1;
	transform: scale(1) translate3d(0,0,0);
  }
}